.signUpContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpCard {
  padding: 2rem;
  border: 0.1rem solid;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem rgb(172, 172, 172);
  max-width: 500px;
  width: 50%;
}
