/*===== VARIABLES CSS =====*/
:root {
  /*===== Colores =====*/
  --first-color: #9d4bff;
  --first-color-dark: #23004d;
  --first-color-light: #a49eac;
  --first-color-lighten: #f2f2f2;

  /*===== Font and typography =====*/
  --body-font: "Open Sans", sans-serif;
  --h1-font-size: 2.4rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;

  @media screen and (min-width: 768px) {
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--first-color-dark);
}
h1 {
  margin: 0;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== LOGIN=====*/
.login {
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  perspective: 1000px;

  &__content {
    display: grid;
  }
  &__img {
    justify-self: center;
    & img {
      width: 35rem;
      margin-top: 2.4rem;
    }
    &-hidden {
      display: none;
    }
  }
  &__forms {
    position: relative;
    height: 368px;
  }
  &__registre,
  &__create {
    position: absolute;
    bottom: 1.6rem;
    width: 100%;
    background-color: var(--first-color-lighten);
    padding: 3.2rem 1.6rem;
    border-radius: 1.6rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
    animation-duration: 0.4s;
    animation-name: animate-login;

    @keyframes animate-login {
      0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.1, 1.1);
      }
      100% {
        transform: scale(1, 1);
      }
    }
  }
  &__logo {
    height: 5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  &__title {
    font-size: var(--h1-font-size);
    margin-bottom: 3.2rem;
  }
  &__box {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    column-gap: 0.8rem;
    padding: 1.8rem 1.6rem;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 0.5rem;

    &.error {
      overflow: hidden;
      max-width: 0;
      padding: 0;
      transition: max-width 0.5s;
      background-color: rgb(255, 163, 163);
      color: rgb(255, 38, 38);
      font-weight: bolder;
      text-align: start;

      &.show {
        border: 1px solid red;
        padding: 1.2rem 1rem;
        max-width: 100%;
      }
    }
  }
  &__icon {
    font-size: 2.4rem;

    & svg {
      color: var(--first-color);
    }

    &-password {
      font-size: 2rem;
    }
  }
  &__input {
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: var(--first-color-dark);

    &::placeholder {
      font-size: var(--normal-font-size);
      font-family: var(--body-font);
      color: var(--first-color-light);
    }
  }
  &__forgot {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: 0.8rem;
    font-size: var(--small-font-size);
    font-weight: 600;
    color: var(--first-color-light);
    border: none;
    cursor: pointer;
    background-color: inherit;

    &:hover {
      color: royalblue;
    }
  }
  &__button {
    display: block;
    padding: 1.6rem;
    background-color: var(--first-color);
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 0.8rem;
    border: none;
    width: 100%;
    max-width: 100%;
    transition: 0.3s;

    &-wrapper {
      margin: 3.2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    &:hover {
      background-color: var(--first-color-dark);
    }

    &.loading {
      max-width: 5.4rem;
      border-radius: 50%;
    }
  }
  &__account,
  &__signin,
  &__signup {
    font-weight: 600;
    font-size: var(--small-font-size);
  }
  &__account {
    color: var(--first-color-dark);
  }
  &__signin,
  &__signup {
    color: var(--first-color);
    cursor: pointer;
  }
  &__social {
    margin-top: 3.2rem;

    &-icon {
      border: none;
      font-size: 2.4rem;
      color: var(--first-color-dark);
      margin: 0 2.4rem;
      cursor: pointer;
      transition: 0.5s;
      background-color: transparent;

      &.google {
        border-radius: 50%;
      }

      &:hover {
        background-color: var(--first-color);
      }
    }
  }
}

/*Show login*/
.block {
  display: block;
}

/*Hidden login*/
.none {
  display: none;
}

/* ===== MEDIA QUERIES =====*/

@media screen and (min-width: 576px) {
  .login {
    &__forms {
      width: 348px;
      justify-self: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .login {
    height: 100vh;
    overflow: hidden;

    &__content {
      grid-template-columns: repeat(2, max-content);
      justify-content: center;
      align-items: center;
      margin-left: 16rem;
    }
    &__img {
      display: flex;
      width: 800px;
      height: 800px;
      background-color: var(--first-color-lighten);
      border-radius: 1.6rem;
      padding-left: 1.6rem;
      box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
      transition: 1s ease-out;

      &:hover {
        transform: translateX(-7rem) rotateY(20deg);

        & ~ .login__forms .login__create,
        ~ .login__forms .login__registre {
          transform: translateX(7rem);
        }
      }

      & img {
        width: 60rem;
        margin-top: 0;
      }

      &-hidden {
        display: block;
        position: relative;
        width: 100%;

        &-text {
          display: inline;
          position: absolute;
          top: 40%;
          right: 10px;
          writing-mode: vertical-rl;
          text-orientation: mixed;

          & a {
            font-weight: bolder;
            text-decoration: underline;
          }
        }
      }
    }

    &__registre,
    &__create {
      left: -17.6rem;
      transition: 1s;
    }
    &__registre {
      bottom: -3.2rem;
    }
    &__create {
      bottom: -8.8rem;
    }
  }
}
