.layoutContainer {
  display: flex;
  flex-direction: column;
}

.headerWrapper {
  width: 80%;
  margin: 1rem auto;
  border: 0.1rem solid transparent;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contentWrapper {
  width: 80%;
  margin: 0 auto;
  border: 0.1rem solid transparent;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
