.profileContainer {
  font-family: "Work Sans", sans-serif;

  .header {
    height: 200px;

    img {
      border-radius: 30px 30px 15px 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;

    .avatar {
      transform: translateY(-80px);
      border: 5px solid rgba($color: #ffffff, $alpha: 0.4);
      border-radius: 50%;
      flex-shrink: 0;
      margin-bottom: -80px;
      position: relative;

      img {
        height: 160px;
        width: 160px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
      }

      & .layer {
        content: "";
        position: absolute;
        background: rgba($color: #000000, $alpha: 0.5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
        border-radius: 50%;
        opacity: 0;
        transition: 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          color: white;
          font-size: 3rem;
        }
      }

      &:hover .layer {
        opacity: 1;
      }
    }

    .information {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      flex: 1;

      .wrapper {
        overflow: hidden;

        h2 {
          margin: 0;
          font-weight: bolder;
          color: rgb(1, 44, 172);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        h3 {
          margin: 0;
          font-weight: 400;
          color: rgb(96, 136, 255);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .group {
          position: relative;
          z-index: 1;
          display: inline-block;
          margin-left: -10px;
          padding: 0 10px;

          button {
            border: none;
            cursor: pointer;
            background: none;
            padding: 0;
          }

          .two {
            text-decoration: none;
            width: 40px;

            .bg {
              height: 40px;
              width: 300px;
              position: absolute;
              top: 0;
              left: -300px;
              z-index: -1;
              transition: 0.3s;
              border-radius: 20px 0 0 20px;
            }
          }

          span:hover {
            margin-left: 5px;

            & + .bg {
              left: 15px;
              width: 40px;
              background: linear-gradient(
                to right bottom,
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.3)
              );
              border-radius: 20px;
            }
          }

          .two span:hover {
            color: #000;
          }

          span {
            padding: 10px;
            transition: 0.3s;
          }
        }
      }

      .tag {
        border-radius: 5px;
        background: linear-gradient(to bottom, #ff00cc, #333399);
        color: white;
        padding: 10px;
        height: 30px;
        display: flex;
        align-items: center;
      }
    }
  }

  .usageBox {
    padding: 20px 10px;
    margin: 20px 10px 10px 10px;
    border-radius: 20px;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );

    .statistic {
      display: flex;

      .box {
        --progress: 0;
        flex: 1;
        padding: 15px;
        position: relative;
        border: 2px solid rgba($color: #ffffff, $alpha: 0.5);
        border-radius: 10px;
        margin: 5px;

        .title {
          position: absolute;
          top: -15px;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          width: 70px;
          text-align: center;
          background: white;
          padding: 5px;
          border-radius: 10px;
        }

        .number {
          font-size: 40px;
          text-align: center;
        }

        .progress {
          border-radius: 5px;
          background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
          );
          position: relative;
          text-align: center;
          margin: 0 50px 0 0;

          &::before {
            content: "";
            position: absolute;
            height: 100%;
            border-radius: 5px;
            top: 0;
            right: 0;
            left: 0;
            width: var(--progress);
            background: rgba($color: #4dff3d, $alpha: 0.5);
          }

          &::after {
            content: "50MB";
            position: absolute;
            top: 0;
            right: -50px;
          }
        }
      }
    }

    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0 10px 0;

      button {
        border: none;
        padding: 10px 30px;
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.3)
        );
        transition: 2s;

        &:hover {
          animation: spin;
          animation-duration: 2s;
          background-color: gold;
        }

        @keyframes spin {
          0% {
            transform: scale(1, 1);
          }
          20% {
            transform: scale(1.1, 1.1) translateY(5px);
          }
          50% {
            transform: scale(1.1, 1.1) translateY(-10px);
          }
          60% {
            transform: scale(1.1, 1.1) translateY(5px);
          }
          90% {
            transform: scale(1.1, 1.1) translateY(-15px);
          }
          100% {
            transform: scale(1, 1);
          }
        }
      }
    }
  }
}
