.editProfileModalContainer {
  margin-top: 5rem;

  form {
    padding: 6rem 1rem 1rem 1rem;
    border: 2px solid rgb(182, 182, 182);
    border-radius: 20px;
    position: relative;

    .title {
      color: white;
      display: flex;
      border-radius: 1rem;
      font-size: 1.5rem;
      position: absolute;
      left: 0;
      right: 0;
      top: -5rem;
      justify-content: center;

      img {
        background: rgb(182, 182, 182);
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 3px solid rgb(182, 182, 182);
        object-fit: cover;
      }
    }
  }
}
