.UBContainer {
  width: 100%;

  & .UBWrapper {
    position: relative;
    min-height: 300px;
    width: 100%;
    border: 2px dashed #c2cdda;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &.active {
      border: none;

      &:hover #UBCancelButton {
        display: block;
      }

      &:hover .UBFileName {
        display: block;
      }
    }

    & .UBImage {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    & .UBIcon {
      font-size: 100px;
      color: #9658fe;
    }

    & .UBText {
      font-size: 20px;
      color: #5b5b7b;
      font-weight: 500;
    }

    & #UBCancelButton {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 20px;
      cursor: pointer;
      color: #9658fe;
      display: none;

      &:hover {
        color: #e74c3c;
      }
    }

    & .UBFileName {
      position: absolute;
      bottom: 0px;
      width: 100%;
      color: #fff;
      padding: 8px 0;
      font-size: 18px;
      display: none;
      background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
    }
  }

  & #UBNameInput {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 25px;
    border: 2px dashed #c2cdda;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  & #UBCustomButton {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    display: block;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
    box-shadow: -10px 10px rgba($color: #000000, $alpha: 0.5);
    transform: translateX(10px) translateY(-10px);
    transition: 0.5s;

    &:hover {
      box-shadow: 0px 0px rgba($color: #000000, $alpha: 0.6);
      transform: translateX(0px) translateY(0px);
    }
  }
}
