.homeContainer {
  padding: 1rem;
}

.actionWrapper {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.imageArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0.5rem;
}

.imageCard {
  display: flex;
  flex-direction: column;
  width: 23%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 30px;
  flex: 1 1 auto;
  text-align: center;
  margin: 0.5rem;

  & img {
    border-radius: 30px 30px 0 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  & > div {
    width: 100%;
    border-radius: 30px 30px 0 0;
    overflow: hidden;

    & .ant-skeleton-image {
      width: 100%;
    }
  }
}

.imageCardFooter {
  margin: 1rem auto;
  margin-top: auto;
  display: flex;
  padding: 0 0.5rem;
  flex-wrap: wrap;

  & button {
    flex: 1 1 auto;
    margin: 0.5rem;
    min-width: 30%;
    border-radius: 30px;
    border: 0.1rem solid transparent;
    cursor: pointer;
    font-weight: bolder;
    background-color: whitesmoke;
    transition: 200ms ease-out;

    &:hover {
      background-color: rgb(199, 199, 199);
      color: white;
    }
  }

  & div {
    flex: 1 1 auto;
    margin: 0.5rem;
    min-width: 30%;
  }
}
