@import "../../assets/scss/responsive.scss";

.homeContainer {
  padding: 1rem;
}

.actionWrapper {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.imageArea {
  --spacing: 1rem;
  --columns: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));

  & .imageCard.skeleton {
    display: none;
    width: calc(calc(100% / 1) - var(--spacing));

    &:nth-child(1) {
      display: flex;
    }
  }

  & .empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }
}

@include Responsive(XS) {
  .imageArea {
    --columns: 2;

    & .imageCard.skeleton {
      width: calc(calc(100% / 2) - var(--spacing));

      &:nth-child(2) {
        display: flex;
      }
    }
  }
}

@include Responsive(SM) {
  .imageArea {
    --columns: 3;

    & .imageCard.skeleton {
      width: calc(calc(100% / 3) - var(--spacing));

      &:nth-child(3) {
        display: flex;
      }
    }
  }
}

@include Responsive(MD) {
  .imageArea {
    --columns: 4;

    & .imageCard.skeleton {
      width: calc(calc(100% / 4) - var(--spacing));

      &:nth-child(4) {
        display: flex;
      }
    }
  }
}

@include Responsive(XL) {
  .imageArea {
    --columns: 5;
  }
}

.imageCard {
  display: flex;
  flex-direction: column;
  width: calc(calc(100% / var(--columns)) - var(--spacing));
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 30px;
  text-align: center;
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);

  & img {
    border-radius: 30px 30px 0 0;
    height: 200px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 1rem;
    cursor: zoom-in;
  }

  & .imageCardFooter {
    margin: 1rem auto;
    margin-top: auto;
    display: flex;
    padding: 0 0.5rem;
    flex-wrap: wrap;

    & button {
      flex: 1 1 auto;
      margin: 0.5rem;
      border-radius: 30px;
      border: 0.1rem solid transparent;
      cursor: pointer;
      font-weight: bolder;
      background-color: whitesmoke;
      transition: 200ms ease-out;

      &:hover {
        background-color: rgb(199, 199, 199);
        color: white;
      }
    }

    // Use for button skeleton
    & div {
      flex: 1 1 auto;
      margin: 0.5rem;
      min-width: 30%;

      & span {
        width: 100%;
      }
    }
  }

  // Use for image skeleton
  & > div {
    width: 100%;
    border-radius: 30px 30px 0 0;
    overflow: hidden;

    & .ant-skeleton-image {
      width: 100%;
    }
  }
}
